@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100svw;
  background-color: var(--background);
}

.boxShadow {
  -webkit-box-shadow: 0px 17px 55px 0px rgba(3, 3, 2, 1);
  -moz-box-shadow: 0px 17px 55px 0px rgba(3, 3, 2, 1);
  box-shadow: 0px 17px 55px 0px rgba(3, 3, 2, 1);
}

.clip {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.maskbg {
  -webkit-mask: url("#circleMask") no-repeat center;
  mask: url("#circleMask") no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

@layer base {
  :root {
    --primary-background: #e8e8e3;
    --secondary-background: #030302;
    --terciary-background: #141414;
    --primary-color: #333333;
    --secondary-color: #d1d1c7;
    --spacing-border-color: #393632;
  }
}
