@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100svw;
  background-color: var(--background);
}

@layer base {
  :root {
    --primary-background: #fff;
    --primary-color: #333333;
  }

  [spotlight="off"] {
    --primary-background: #333333;
    --primary-color: #fff;
  }
}
